*{
    margin:0;
    padding:0;
    -webkit-print-color-adjust: exact;
}
span {
    color: device-cmyk(0%, 98%, 17%, 37%);
}

.sticker{
    -webkit-print-color-adjust: exact;
    background-color: cmyk(0%, 98%, 17%, 37%);
    padding: 1rem;
    width:20mm;
    transform: rotate(90deg);
    position: fixed;
    left: -10mm;
    top: 10mm;
}

    p{
        page-break-after: always;
    }

@page {
    size: A4;

}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
  }
  
  th, td {
    padding: 20px;
    border: 1px solid #F0f;
    background-color: aquamarine;
    margin: 5px 0px;
  }

