<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Document</title>
    <style>{{ source('/web2print/css.css') }}</style>
</head>
<body>
    <div class="sticker">Test</div>
    <img src="/var/assets/trac.jpg">
    <span> test</span>
    <p>Test    TestLorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, eos iusto? Consectetur incidunt assumenda amet voluptatem ex expedita sunt sequi? Incidunt quas explicabo ipsam ratione a dolorem ea doloremque modi alias sint.</p>
    </body>
</html>